{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='process.js') }}"></script>

{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
   <form action="/metadata" method="post" enctype="multipart/form-data">
       <p class="formpara"><label for="nameinput">Navn : </label><input name="name" id="nameinput" /></p>
       <p class="formpara"><label for="shortnameinput">Kortnavn : </label><input name="shortname" id="shortnameinput" /></p>
       <p class="formpara"><label for="descriptioninput">Beskrivelse : </label><input name="description" id="descriptioninput" /></p>
       <p><input type="submit" id="savedata" name="button" value="{{ sabt }}">
       <input type="submit" id="searchdata" name="button" value="{{ sebt }}"></p>
    </form>
 {% if dataset != None %}
 <table>
 <tr><th>Id</th><th>Navn</th><th>Kortnavn</th><th>Beskrivelse</th></tr>
 {% for row in dataset %}
 <tr>
 {%for fld in row %}
 <td>{{fld}}</td>
 {% endfor %}</tr>
 {% endfor %}</table>
 {% endif %}
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
