{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='staticdata.js') }}"></script>

{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
  {% endblock %}
{% block content %}
   <form action="{{path}}" method="post" enctype="multipart/form-data">
       {%for field in fields %}
       {% set ro="" %}
       {% if field == "id"%}
       {%set ro='readonly="readonly"' %}
       {%endif %}
            <p class="formpara"><label for="{{field}}input">{{field|title}} : </label><input name="{{field}}" id="{{field}}input" {{ro}} value="{{req[field]}}"/></p>
       {%endfor%}
       <p><input type="submit" id="searchdata" name="button" value="{{ sebt }}"><input type="submit" id="savedata" name="button" value="{{ sabt }}"></p>
    </form>
 {% if error != None %}
 <h2>{{ error }} </h2>
 {% endif %}
 {% if dataset != None %}
 <table border="1" cellpadding="5" cellspacing="0" style="border-collapse:collapse;">
 <tr>{%for field in fields %}
<th>{{field}}</th>
{%endfor%} </tr>
 {% for row in dataset %}<tr>
 {%for fld in row %}
 <td>{{fld}}</td>
 {% endfor %}</tr>
 {% endfor %}</table>
 {% endif %}
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
