{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <p>Current date/time: {{ current_time | datetimefilter }}</p>
  <br>
  <p>File: {{my_string}}</p>
  <p>md5: {{md5}}</p>
  <hr />
  <p>Processing uploaded file...</p>
  <p>Valid header: {{okheader}}</p>
  <p>Valid data: {{okdata}}</p>
  <h2>Warnings on data</h2>
  <dl>
  <table>
  {% for key, hash in valuewarnings.items() %}
	<tr><th colspan="2">{{ key }}</th></tr> </dt>
	{% for key, value in hash.items() %}
     <tr><td style="white-space: nowrap;">{{ key }}</td><td>
     {% for cell  in value %}
     {{ cell }} 
     {%endfor %}
     </td></tr>
    {% endfor %}
  {% endfor %}
  </table>
</dl>
  <h2>Errors on data</h2>
  <dl>
  {% for key, hash in valueerrors.items() %}
	<dt>{{ key }} : </dt>
	{% for key, value in hash.items() %}
        <dd>{{ key }},{{ value }}</dd>
    {% endfor %}
  {% endfor %}
</d
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
