{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <p>Current date/time: {{ current_time | datetimefilter }}</p>
  <br>
  <p>File: {{my_string}}</p>
  <p>md5: {{md5}}</p>
  <hr />
  <p>Processing uploaded file...</p>
  <p>Valid header: {{okheader}}</p>
   <form action="/importdata" method="post" enctype="multipart/form-data">
      <input type="hidden" name="file" value="filename">
         <input type="submit" id="importdata" value="Import data">
    </form>
 
  {% if valueerrors|length >0 %}
  <script>
  document.getElementById("importdata").disabled = true;
  fatalerrors = true;
  </script>
  <h2>Feil i data</h2>
  <p>Feil må rettes eksternt og arket må lastes opp på nytt</p>
   <table>{% for key, hash in valueerrors.items() %}
	<tr><th colspan="2">{{ key }}</th></tr> </dt>{% for key, value in hash.items() %}
	 <tr><td style="white-space: nowrap;">{{ key }} </td>
     <td>{% for cell  in value %}{{ cell }} {%endfor %}</td>
     </tr>{% endfor %}
  {% endfor %}</table> {% endif %}
  {% if valuewarnings|length >0 %}
  <script>
  document.getElementById("importdata").disabled = true;
  </script>
  <h2>Warnings on data</h2>
  <p>Check warnings that should be ignored.</p>
  <table>{% for key, hash in valuewarnings.items() %}
	<tr><th colspan="2">{{ key }}</th></tr> </dt>{% for key, value in hash.items() %}
	 <tr><td style="white-space: nowrap;"><input type="checkbox" id="{{ key }}" /> {{ key }} </td>
     <td>{% for cell  in value %}{{ cell }} {%endfor %}</td>
     </tr>{% endfor %}
  {% endfor %}</table>
  {% endif %}
  
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
