{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <p>Current date/time: {{ current_time | datetimefilter }}</p>
  <br>
  <p>File: {{my_string}}</p>
  <p>md5: {{md5}}</p>
  <hr />
  <p>Processing uploaded file...</p>
  <p>Valid header: {{okheader}}</p>
  <p>Valid data: {{okdata}}</p>
  <h2>Warnings on data</h2>
  <dl>
  {% for key, value in valuewarnings.items() %}
	<dt>{{ key }} : </dt>
	<dd>{{ value }}</dd>
  {% endfor %}
</dl>
  <h2>Errors on data</h2>
  <dl>
  {% for key, value in valueerrors.items() %}
	<dt>{{ key }} : </dt>
	<dd>{{ value }}</dd>
  {% endfor %}
</d
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
