{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
  {% endblock %}
{% block content %}
   <form action="{{path}}" method="post" enctype="multipart/form-data">
       <p class="formpara"><label for="{{field}}input">{{field|title}} : </label><input name="{{field}}" id="{{field}}input" {{ro}} value="{{req[field]}}"/></p>
       
       <p><input type="submit" id="searchdata" name="button" value="{{ sebt }}"></p>
    </form>
 {% if error != None %}
 <h2>{{ error }}</h2>
 {% endif %}
 {% if dataset != None %}
 <table border="1" cellpadding="5" cellspacing="0" style="border-collapse:collapse;">
 <tr>{%for field in fields %}
<th>{{field}}</th>
{%endfor%} </tr>
 {% for row in dataset %}<tr>
 {%for fld in row %}
 <td>{{fld}}</td>
 {% endfor %}</tr>
 {% endfor %}</table>
 {% endif %}
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
