{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <form action="/user" method="post" enctype="multipart/form-data">
      <p class="formpara"><label for="oldpass">Gammelt passord : </label><input  type="password" class="selectitem" name="oldpass" id="oldpass" >
      <p class="formpara"><label for="pass1">Nytt passord : </label><input  type="password" class="selectitem" name="pass1" id="pass1" >
      <p class="formpara"><label for="pass2">Gjenta nytt passord : </label><input  type="password" class="selectitem" name="pass2" id="pass2">
      <p><input type="submit" id="updatepassword" name="button" value="Sett nytt passord"></p>
       
    </form>
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
